@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz');

body{
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    font-family: 'Yanone Kaffeesatz', sans-serif; 
}

#container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

header{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 50px;
    height: 90px;
    color: white;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

header a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

section{
    text-align: center;
    height: 730px;
    width: 796px;
    color: white;
    background-color: rgb(0, 0, 0,0.8);
    float: left;
    border: 3px solid orange;
    border-radius: 20px;
    font-size: 20px;
}

p{
   padding: 20px;
}

aside{
    height: 730px;
    width: 196px;
    float: left;
    border-radius: 20px;
    color: white;
}

footer{
    padding: 15px;
    text-align: right;
    font-size: 20px;
    color: white;
    font-style: oblique;
    border-radius: 20px;
    border-right: 3px solid orange;
    border-bottom: 3px solid orange;
}

footer a:link {
    text-decoration: none;
    color: white;
}

footer a:visited{
    color: white;
}

#horizontal_menu{
    text-align: center;
    height: 37px;
    width: 1000px;
    float: left;
    color: white;
}

.horizontal_menu_option{
    display: inline;
    min-width: 50px;
    font-size: 23px;
    padding: 10px;
    border-right: 3px solid orange;
    border-radius: 30px;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.horizontal_menu_option:hover{
    color: orange;
    cursor: pointer;
    opacity: 70%;
    border-radius: 20px;
    text-shadow: 1px 1px grey;
}

.vertical_menu_option{
    font-size: 23px;
    height: 25px;
    padding: 20px;
    border-bottom: 2px groove orange;
    border-radius: 20px;
    text-align: center;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.vertical_menu_option:hover{
    color: orange;
    cursor: pointer;
    opacity: 70%;
    border-radius: 20px;
    text-shadow: 1px 1px grey;
}

#logout_button{
    text-decoration: none;
    color: white;
}

#logout_button:hover{
    color: orange;
}

#welcome{
    font-size: 45px;
}

#character{
    padding: 5px 20px;
    width: 250px;
    text-align: center;
    color: white;
    font-size: 20px;
    margin: auto;
    display: none;
}

#character_photo{
    padding: 20px;
    text-align: center;
}

#clothes{
    display: none;
}

#league{
    display: none;
}

#team{
    display: none;
}

#training{
    display: none;
    height: 700px;
    overflow-y: scroll;
}

#training::-webkit-scrollbar{
    display: none;
}

#options{
    display: none;
}

.experience_bar{
    display: inline-block;
    right: 250px;
    position: relative;
    width: 646px;
    height: 3em;
    background-color: black;
    border-radius: 1.5em;
    color: white;
    border: 2px solid orange;
}

.experience_bar::before{
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: .5em;
    top: .5em;
    bottom: .5em;
    width: calc(var(--width, 0) * 1%);
    min-width: 2rem;
    max-width: calc(100% - 1em);
    background-color: orange;
    border-radius: 1em;
    padding: 1em;
}

#overall{
    display: block;
    position: relative;
    width: 55px;
    align-items: center;
    left: 430px;
    bottom: 67px;
    font-size: 28px;
    text-align: center;
}

.item {
    background-color: black;
    border-radius: 1.5em;
    color: white;
    border: 2px solid orange;
    width: 640px;
    height: auto;
    margin: auto;
}

.item img{
    float: left;
    margin-left: 30px;
    border-radius: 1.5em;
}

.item b{
    color: orange;
}

#clothes{
    overflow-y: scroll;
    height: 730px;
}

#clothes::-webkit-scrollbar{
    display: none;
}

#shop{
    display: none;
    overflow-y: scroll;
    height: 730px;
}

#shop::-webkit-scrollbar{
    display: none;
}

#ranking{
    display: none;
    overflow-y: scroll;
    height: 730px;
}

#ranking::-webkit-scrollbar{
    display: none;
}

#league_logo{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 30px;
    color: white;
}

#coins_balance{
    float: left;
    font-size: 25px;
    color: orange;
    font-weight: bold;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.equip_button{
    background-color: black;
    border-radius: 1.5em;
    border: 2px solid orange;
    height: 20px;
    width: 50px;
    padding: 2px;
    margin-left: 75px;
    cursor: pointer;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.equip_button:hover{
    background-color: orange;
    color: black;
}

.options_button{
    background-color: black;
    border-radius: 1.5em;
    border: 2px solid orange;
    padding: 2px;
    width: 200px;
    cursor: pointer;
    margin: auto;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.options_button:hover{
    background-color: orange;
    color: black;
}

#team_logo{
    padding: 30px;
    float: left;
}

#team_name{
    font-weight: bold;
    font-style: italic;
}