body
{
    background-image: url(img/background.jpg);
    background-attachment: fixed; 
}

#container
{
    width:1000px;
    margin-left: auto;
    margin-right: auto;
}

header
{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 50px;
    height: 90px;
    color:white;
    background-color: darkslategray;
}

header a
{
    color:white;
    text-decoration: none;
    cursor: pointer;
}

section
{
    text-align: center;
    height: 800px;
    width: 800px;
    color:white;
    background-color: red;
    float: left;
}

aside
{
    background-color: yellow;
    height: 800px;
    width: 200px;
    float: left;
}

footer
{
    text-align: center;
    font-size: 20px;
    color:white;
    text-decoration: underline;
}

footer a:link {
    text-decoration: none;
    color:white;
}

footer a:visited{
    color:white;
}

#horizontal_menu
{
    height: 37px;
    width: 1000px;
    float: left;
    color:white;
    background-color:blue;
}

.horizontal_menu_option
{
    float: left;
    min-width: 50px;
    height: 25px;
    font-size: 18px;
    padding: 10px;
    border-right: 2px dotted #444444;
}

.horizontal_menu_option:hover{
    background-color: black;
    cursor: pointer;
    color:white;
}

.vertical_menu_option
{
    font-size: 18px;
    height: 25px;
    padding: 10px;
    border-bottom: 2px dotted #444444;
}

.vertical_menu_option:hover
{
    background-color: #f36742;
    color:white;
    cursor: pointer;
}

#logout_button
{
    text-decoration: none;
    color:white;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

