<!doctype HTML>
<HTML>
    <Head>
        <title>Basketballerz Official</title>
        <meta charset="utf-8" />
        <meta name="description" content="Official Basketballerz Game Site" />
        <meta name="keywords" content="Basketball, Game, Basketballerz, Kochamdaniela, NBA" />
        <meta http-equiv="X-UA-Compatible" content="IE-edge, chrome=1" />
        <link rel="stylesheet" href="/css/register.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    </Head>
    <Body>
        <div id="container">
            <header>
                <h1>Basketballerz</h1>
            </header>
            <aside>
                <p class="radioform" id="profile_picture_text">Character picture: </p>
                    <form method="post">
                        <div id="radio_group_profile_picture">
                            <img id="profile_picture" src="../img/stephenn.jpg" style="border-radius: 20px;" />
                            <div id="character_stats">
                            <br /><b><i>Starting stats: </i></b><br /><br />
                            Strength: <span style="color: orange;" id="strength">1</span> / 100<br /> 
                            Agility: <span style="color: orange;" id="agility">6</span> / 100<br /> 
                            Accuracy: <span style="color: orange;" id="accuracy">5</span> / 100<br /> 
                            Stamina: <span style="color: orange;" id="stamina">3</span> / 100<br /><br /> 
                            <b><i>Strong side: </i></b><br /><br />
                            <b><span style="color: orange" id="strong_side">3pt shot</span></b><br />
                            </div>
                        </div>
                    </form><br />
            </aside>
            <section>
                <form method="POST" action="/auth/register">
                    <input type="text" name="username" placeholder="Username" minlength="3" maxlength="20" required/><br />
                    <input type="password" name="password" placeholder="Password" minlength="6" maxlength="50" required/><br />
                    <input type="password" name="password_confirm" placeholder="Confirm password" minlength="6" maxlength="50" required/><br />
                    <input type="email" name="e_mail" placeholder="E-mail" maxlength="50" required/><br />
                    <input type="number" name="jersey_number" placeholder="Number on jersey (0-99)" min="0" max="99" required/><br /><br />
                    <p class="radioform">Position: </p>
                    <div class="radio_group">
                        <input type="radio" id="pg" name="position" value="pg" onclick="show_position_info('pg');" checked><label for="pg">Point Guard</label>
                        <input type="radio" id="sg" name="position" value="sg" onclick="show_position_info('sg');"><label for="sg">Shooting Guard</label>
                        <input type="radio" id="sf" name="position" value="sf" onclick="show_position_info('sf');"><label for="sf">Small Forward</label>
                        <input type="radio" id="pf" name="position" value="pf" onclick="show_position_info('pf');"><label for="pf">Power Forward</label>
                        <input type="radio" id="c" name="position" value="c" onclick="show_position_info('c');"><label for="c">Center</label>
                    </div><br /><br /><br /><br />
                    <button type="submit" class="link_button">Confirm</button>
                    <button type="reset" class="link_button" value="Clear" onclick="show_position_info('pg');">Clear form</button><br /><br />
                    <a href="/" class="link_button">Back</a><br /><br />
                </form>
                {{#if message}}
                <h4>{{message}}</h4>
                {{/if}}
            </section>
            <footer>
                <a href="https://github.com/Adi-Danny"> Basketballerz - basketball browser game written by Adi-Danny industries. All rights reserved. &copy;</a>
            </footer>
        </div>
    </Body>
    <script src="/js/register.js"></script>
</HTML>